/********************** StyleReset ***************************/

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot');
    src: url('../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'iran';
    src: url('../fonts/iran-sans/IRANSans-Bold-web.eot');
    src: url('../fonts/iran-sans/IRANSans-Bold-web.eot?#iefix') format('eot'), url('../fonts/iran-sans/IRANSans-Bold-web.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'iran';
    src: url('../fonts/iran-sans/IRANSans-Medium-web.eot');
    src: url('../fonts/iran-sans/IRANSans-Medium-web.eot?#iefix') format('eot'), url('../fonts/iran-sans/IRANSans-Medium-web.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'iran';
    src: url('../fonts/iran-sans/IRANSans-web.eot');
    src: url('../fonts/iran-sans/IRANSans-web.eot?#iefix') format('eot'), url('../fonts/iran-sans/IRANSans-web.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'iran';
    src: url('../fonts/iran-sans/IRANSans-Light-web.eot');
    src: url('../fonts/iran-sans/IRANSans-Light-web.eot?#iefix') format('eot'), url('../fonts/iran-sans/IRANSans-light-web.woff') format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Condensed-webfont.eot');
    src: url('../fonts/roboto/Roboto-Condensed-webfont.eot?#iefix') format('eot'), /* IE6–8 */ url('../fonts/roboto/Roboto-Condensed-webfont.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/roboto/Roboto-Condensed-webfont.ttf') format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('eot'), /* IE6–8 */ url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('eot'), /* IE6–8 */ url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('ttf');
    font-weight: bold;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: roboto, iran, tahoma;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
button,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
i,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
select {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    direction: rtl;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

table {
    border-collapse: collapse
}

article,
aside,
figure,
footer,
header,
nav,
section {
    display: block;
    text-align: right;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after {
    clear: both;
}

/***************** GlobalStyle *******************/

body {
    background-color: #fff;
    font: normal 12px roboto, iran, tahoma;
    color: #2a2a2a;
}

[class^="col"],
[class*="col"] {
    float: right;
}

#content_wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

#page_wrapper {
    /*padding-right: 50px;*/
    height: 100%;
}

#sidebar-wrapper {
    transition: all .4s ease 0s;
}

#sidebar_wrapper.open {
    right: 150px !important;
}

#sidebar_wrapper.open ~ .page_content {
    padding-right: 230px;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important;
}

div.container,
section.container {
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.pull_right {
    float: right;
}

.pull_left {
    float: left;
}

.tabs_wrapper {
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.tabs_list li {
    float: right;
}

.tabs_list li a {
    color: #777;
    font-size: 14px;
    float: right;
    padding: 20px 20px;
    font-weight: 500;
}

.tabs_list li:first-child a {
    padding: 20px 5px 20px 20px;
}

.tabs_list li a.active {
    color: #494949;
    border-bottom: 2px solid #00c853;
}

.tabs_list li a.active:hover {
    color: #494949;
    border-bottom: 2px solid #00c853;
}

.tabs_list li a:hover {
    color: #00c853;
}

.rework_btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 15px;
    color: #fff;
}

.rework_link_danger {
    color: #f2443d;
    border-color: #f2443d;
    transition: all .4s;
}

.rework_link_danger:hover {
    color: #fff;
    background: #f2443d;
}

.rework_link_info {
    color: #5584ff;
    border-color: #5584ff;
    transition: all .4s;
}

.rework_link_info:hover {
    color: #fff;
    background: #5584ff;
}

.rework_btn.btn_info {
    background-color: #5584ff;
}

.rework_btn.btn_danger {
    background-color: #f2443d;
}

.rework_btn.btn_success {
    background-color: #2fc67d;
}

button.btn_linkedIn i,
button.btn_google_pluse i {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url(../icons/icons.png);
}

button.btn_linkedIn i {
    background-position: -283px -14px;
}

button.btn_google_pluse i {
    background-position: -308px -14px;
}

button.btn_linkedIn {
    background: #0086b6;
    font-weight: bold;
    font-size: 12px;
}

button.btn_google_pluse {
    background: #dc4e41;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}

button.delete_btn i {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: right;
    background: url('../../assets/icons/icons.png') -630px -37px;
}

button.add_btn i {
    display: inline-block;
    width: 35px;
    height: 36px;
    float: right;
    background: url(../../assets/icons/icons.png) -654px -37px;
}

input {
    border-radius: 10px;
    border: 1px solid #d2dae8;
    font-size: 13px;
}

/*reworkTable*/

table.rework-table thead th {
    text-align: right;
    color: #787a7d;
    border-bottom: none;
    font-weight: lighter;
}

table.rework-table thead {
    background-color: #edeff2;
}

table.rework-table > tbody > tr:nth-of-type(odd) {
    background-color: #fff;
}

table.rework-table > tbody > tr:nth-of-type(even) {
    background-color: #f7f9ff;
}

table.rework-table tbody tr td {
    border: none;
    vertical-align: middle;
}

td.cell_img_container img {
    float: right;
    margin-left: 7px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

td.cell_img_container p {
    line-height: 3;
}

/*div.form_one_line*/

div.form_one_line {
    margin-bottom: 20px;
}

div.form_one_line label {
    display: block;
    color: #293b5a;
    font-weight: lighter;
    font-size: 14px;
    margin-bottom: 8px;
}

div.form_one_line input {
    border: 1px solid #d2dae8;
    color: #293b5a;
    padding: 5px 8px;
}

/*textAlign*/

.text_center {
    text-align: center !important;
}

/*selectOption*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -opera-appearance: none;
    border: 1px solid #d2dae8;
    border-radius: 14px;
    padding: 8px 6px;
    line-height: 1.2;
    background: url('../icons/select.png') no-repeat 10% center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}

/*listStripped*/

ul.list_striiped {
    border: 1px solid #e6ebf2;
    border-radius: 16px;
}

ul.list_striiped li p {
    line-height: 5;
    float: right;
    padding-right: 8px;
}

ul.list_striiped li:nth-of-type(even) {
    background-color: #f7f9ff;
    border-bottom: 1px solid #dbe2ed;
    border-top: 1px solid #dbe2ed;
}

/*HeightGrid*/
.four_cells {
    height: 100%;
}

.three_cells {
    height: 66.66666667%;
}

.two_cells {
    height: 50%;
}

.one_cell {
    height: 33.33333333%;
}

.reworks-cols-5 {
    width: 100%;
}

.reworks-cols-1 {
    width: 20%;
}

.border_b {
    border-bottom: 1px solid #000;
}

.no_border {
    border: none;
}

.border_l {
    border-left: 1px solid #000;
}

/*dropDown*/
.dropdown-menu {
    text-align: right;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: #ccc;
}