<section class="settings_wrapper">
    <form class="form" name="form" ng-submit="vm.saveSettings(form)" novalidate>
        <div class="col-md-4 profile_settings">
            <div class="form_one_line clearfix">
                <label for="name">نام</label>
                <input type="text" name="name" id="name" placeholder="نام انتخابی" ng-model="vm.user.name" required/>
                <p class="help-block"
                   ng-show="(form.name.$error.required) && (form.name.$dirty || vm.submitted)">
                    نام را وارد کنید
                </p>
            </div>
            <div class="form_one_line clearfix">
                <label for="email">رایانامه</label>
                <input type="email" name="email" id="email" placeholder="رایانامه" ng-model="vm.user.email" disabled/>
            </div>
            <div class="form_one_line clearfix">
                <label for="password">رمز عبور فعلی</label>
                <input type="password" name="password" id="password" placeholder="رمز عبور فعلی"
                       ng-model="vm.user.oldPassword" mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ vm.errors.other }}
                </p>
            </div>
            <div class="form_one_line clearfix">
                <label for="newPassword">رمز عبور جدید</label>
                <input type="text" name="newPassword" id="newPassword" placeholder="رمز عبور جدید"
                       ng-model="vm.user.newPassword" ng-minlength="3"/>
                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength) && (form.newPassword.$dirty || vm.submitted)">
                    حداقل سه کاراکتر وارد کنید
                </p>
            </div>
            <div class="form_one_line clearfix">
                <label for="key">پلن</label>
                <input type="text" name="key" id="key" placeholder="پلن" value="{{vm.user.type}}"
                       disabled/>
            </div>
            <p class="expiration_date" ng-show="vm.user.type !== 'free'">انقضا
                {{::vm.user.expire}}
                <i></i></p>
            <div class="btn_save_wrapper">
                <button type="submit" class="rework_btn btn_success btn_save">ذخیره<i></i></button>
            </div>
        </div>
        <div class="col-md-3">
            <figure class="profile_image" ng-mousemove="vm.showIcon = true" ng-mouseleave="vm.showIcon = false">
                <a href="" ng-click="vm.resetProfile()" style="position: absolute; bottom: 30px; right: 15px;" ng-show="vm.showIcon">
                    <i class="fa fa-lg fa-trash-o"></i>
                </a>
                <img class="img_uploaded" width="117" height="117"
                     ng-src="data:image/jpeg;base64,{{vm.user.avatar.base64}}">
            </figure>
            <label for="file" class="change_profile_img">تغییر تصویر پروفایل</label>
            <input type="file" name="file" id="file" class="inputfile" ng-model="vm.user.avatar" base-sixty-four-input
                   accept="image/*" maxsize="200"/>
            <p class="help-block" ng-show="form.file.$error.maxsize">حجم فایل انتخابی بیشتر از 200KB است</p>
        </div>
    </form>
</section>

<!--<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Change Password</h1>
        </div>
        <div class="col-sm-12">
            <form class="form" name="form" ng-submit="vm.saveSettings(form)" novalidate>

                <div class="form-group">
                    <label>Current Password</label>

                    <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                           mongoose-error/>
                    <p class="help-block" ng-show="form.password.$error.mongoose">
                        {{ vm.errors.other }}
                    </p>
                </div>

                <div class="form-group">
                    <label>New Password</label>

                    <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                           ng-minlength="3"
                           required/>
                    <p class="help-block"
                       ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
                        Password must be at least 3 characters.
                    </p>
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>

                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="vm.user.confirmPassword"
                           match="vm.user.newPassword"
                           ng-minlength="3"
                           required=""/>
                    <p class="help-block"
                       ng-show="form.confirmPassword.$error.match && vm.submitted">
                        Passwords must match.
                    </p>

                </div>

                <p class="help-block"> {{ vm.message }} </p>

                <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>-->
