<section class="projectToolsWrapper clearfix">
    <section class="idea_section clearfix" ng-repeat="(cat, boards) in vm.allBoards">
        <h3 class="tools_link clearfix">
            <p>{{cat}}<i></i></p>
        </h3>
        <ul class="projects_list">
            <li class="projects_list_item" ng-repeat="b in boards">
                <article class="project_board_link clearfix">
                    <div class="img_board_wrapper">
                        <figure class="figure_board_wrapper">
                            <img ng-src="{{b.iconPath}}" width="300" height="200">
                            <figcaption class="board_hover_wrapper">
                                <p>{{b.description | limitTo: 93}}</p>
                                <a ui-sref="project.boards.list.preview({board: b.name})" ng-hide="vm.onlyProjectBoards"
                                   class="board_view">نمایش برد</a>
                                <a ui-sref="project.desktop({id: vm.project._id, board: b.name})"
                                   ng-show="vm.onlyProjectBoards"
                                   class="board_view">شروع</a>
                            </figcaption>
                        </figure>
                    </div>
                    <!--<div class="board_details clearfix">
                        <div class="clearfix">
                            <p>
                                آخرین تغییر:
                            </p>
                            <p>
                                25 دقیقه پیش
                            </p>
                        </div>
                        <div class="clearfix">
                            <p>
                                توسط
                            </p>
                            <p>
                                محسن
                            </p>
                        </div>
                    </div>-->
                    </article>
            </li>
        </ul>
    </section>
</section>