/*******************SignIn*********************/

section.sign_In_section {
    background: url('../../../assets/img/signInBG.jpg');
    background-size: 100%;
    height: 100vh;
}

header.sign_In_header {
    background-color: #f7faff;
    border-bottom: 1px solid rgba(132, 146, 175, 0.3);
    text-align: center;
    padding: 28px 0 18px 0;
}

a.sign_In_logo {
    display: inline-block;
}

main.main_sign_In_section {
    width: 34%;
    top: 53%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0 66px;
    border-radius: 16px;
    color: #838383;
}

main.main_sign_In_section h1.main_sign_In_header {
    color: #293b5a;
    font-weight: bold;
    font-size: 23px;
    margin: 20px 0 13px 0;
}

main.main_sign_In_section p.login_parageraph {
    margin-bottom: 22px;
}

main.main_sign_In_section div.link_container {
    margin-bottom: 18px;
}

div.user_name_container input, div.password_container input, div.email_container input {
    background-color: #ededed;
    color: #838383;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 17px;
    padding: 7px 4px;
    direction: rtl;
}

main.main_sign_In_section div.password_container input {
    margin-bottom: 0;
}

main.main_sign_In_section p.sign_In_or_paregraph {
    margin-bottom: 20px;
}

button.login_btn {
    background: #5584ff;
    padding: 12px 45px;
    border-radius: 22px;
    font-size: 14px;
}

div.signIn_tools input {
    display: none;
}

div.signIn_tools input ~ i {
    float: right;
    margin-left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url('../../../assets/icons/icons.png') -349px -12px;
}

div.signIn_tools input:checked ~ i {
    background-position: -375px -12px;
}

div.remeber_container {
    display: inline-block;
}

div.signIn_password_forgotten {
    margin: 14px 0;
}

div.password_container a.signIn_password_forgotten {
    display: block;
    text-align: left;
    font-size: 10px;
    color: #838383;
}

div.register_link_wrapper {
    margin: 20px 0 17px 0;
}

a.register_link {
    margin-right: 5px;
    color: #5584ff;
    padding-bottom: 3px;
    border-bottom: 1px solid #5584ff;
}

div.register_link p {
    float: right;
}