<header class="sign_Up_header clearfix">
    <ul class="navbar_nav_list clearfix">
        <li class="menu_toggler sidebar_toggler nvabar_item clearfix" ng-click="vm.toggleSidebar($event)">
            <i></i>
            <a href=""></a>
        </li>
        <li class="nvabar_item profile_image_wrapper clearfix">
          <button href="#" class="profile_image clearfix" placement="bottom-right" data-animation="am-flip-x"
                  bs-dropdown
                  aria-haspopup="true" aria-expanded="false">
                <img ng-src="data:image/jpeg;base64,{{vm.currUser.avatar.base64}}"
                     alt="{{vm.currUser.name}}"
                     title="{{vm.currUser.name}}"/>
          </button>
            <ul class="profile_menu dropdown-menu" role="menu">
                <li class="profile_menu_item">
                    <a class="clearfix" ui-sref="project.profile({id: vm.project._id})">
                        <i class="profile_settings"></i>تنظیمات پروفایل
                    </a>
                </li>
                <li class="profile_menu_item" ng-repeat="pr in vm.myProjects"
                    ng-class="{'active': vm.project._id === pr._id}">
                    <a class="clearfix" ui-sref="project.boards.privateList({id: pr._id})">
                        <i class="project_management"></i>{{pr.name}}
                    </a>
                </li>
                <li class="profile_menu_item">
                    <a class="clearfix" ui-sref="logout">
                        <i class="exit"></i>خروج
                    </a>
                </li>
            </ul>
        </li>
        <li class="nvabar_item notification clearfix">
          <button href="#" class="notification_item clearfix" placement="bottom-right" data-animation="am-flip-x"
                  bs-dropdown
                  aria-haspopup="true" aria-expanded="false">
                <span class="notification_num"
                      ng-show="vm.myUnVisitedTasks()">
                    {{vm.myUnVisitedTasks()}}</span>
          </button>
            <ul class="profile_menu dropdown-menu" role="menu"
                ng-show="vm.myUnVisitedTasks()">
                <!--<li class="profile_menu_item">
                    <a class="clearfix"><i class="added_user"></i>
                        علی به تیم اضافه شد
                    </a>
                </li>-->
                <li class="profile_menu_item" ng-repeat="task in vm.project.tasks | orderBy : '-created'"
                    ng-show="vm.isVisible(task)">
                    <!-- ui-sref="project.tasks({id: vm.project._id})"-->
                    <a class="clearfix" ng-click="vm.showTask(task)">
                        <i class="write_task"></i>
                        {{task.createdBy.name}} وظیفه {{task.title}} را اضافه کرد
                    </a>
                </li>
            </ul>
        </li>
        <li class="nvabar_item massage clearfix">
            <a href="#"></a>
        </li>
        <li class="nvabar_item project_name">
            <button class="rework_btn btn_info" href="#"><i></i>{{vm.project.name}}</button>
        </li>
        <li class="nvabar_item perfessional_settings">
            <button class="rework_btn btn_danger" href="#">حرفه ای کار کنید!</button>
        </li>
    </ul>
</header>
