section.desktop_work_section header.sign_Up_header {
  background-color: #f7faff;
  border-bottom: 1px solid rgba(132, 146, 175, 0.3);
  text-align: center;
  padding: 30px 0 20px 0;
}

ul.navbar_nav_list li.nvabar_item {
  float: right;
  margin-left: 20px;
}

ul.navbar_nav_list li.nvabar_item.sidebar_toggler a {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  display: inline-block;
  background: url('../../assets/icons/icons.png') -388px -38px;
}

ul.navbar_nav_list li.nvabar_item.sidebar_toggler.open i {
  display: none;
}
ul.navbar_nav_list li.nvabar_item.sidebar_toggler i {
  width: 10px;
  height: 23px;
  margin-right: 15px;
  display: inline-block;
  background: url(../../assets/icons/icons.png) -417px -40px;
}

ul.navbar_nav_list li.nvabar_item.profile_image_wrapper a.profile_image img {
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
  float: right;
  margin-top: -8px;
  display: inline-block;
}

ul.navbar_nav_list li.nvabar_item.profile_image a img {
  float: right;
}

ul.navbar_nav_list li.nvabar_item.notification a.notification_item {
  position: relative;
  width: 20px;
  height: 31px;
  display: inline-block;
  background: url(../../assets/icons/icons.png) -445px -37px;
}

li.nvabar_item.notification a.notification_item span.notification_num {
  position: absolute;
  top: -13px;
  background: #5584ff;
  right: -10px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  padding: 3px 6px;
}

ul.navbar_nav_list li.nvabar_item.massage a {
  width: 28px;
  height: 27px;
  display: inline-block;
  background: url(../../assets/icons/icons.png) -473px -38px;
}

ul.navbar_nav_list li.nvabar_item.project_name button {
  padding-left: 45px;
}

ul.navbar_nav_list li.nvabar_item.project_name button i {
  width: 12px;
  height: 12px;
  display: inline-block;
  float: right;
  margin: 2px 0 0 5px;
  background: url(../../assets/icons/icons.png) -508px -45px;
}

/*dropDown*/

.nvabar_item .dropdown-menu:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -10px;
  right: 16px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #edeff2;
}

.nvabar_item .dropdown-menu {
  background: #edeff2;
  border: none;
  margin-top: 9px;
  width: 170px;
  color: #0e1a35;
  font-size: 12px;
}

.dropdown-menu > li > a {
  padding: 5px 5px;
  color: #0e1a35;
}

.dropdown-menu > li > a > span {
  display: block;
  float: right;
}

.nvabar_item .dropdown-menu > li > a:hover,
.nvabar_item .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #dee1e5;
}

.nvabar_item .dropdown-menu > li i {
  display: inline-block;
  width: 18px;
  height: 16px;
  margin: 0 0 -3px 4px;
}

li.notification .dropdown-menu > li i {
  width: 12px;
  margin: 0 0 -3px 2px;
}

li.notification .dropdown-menu:before {
  right: 2px;
}

.nvabar_item .dropdown-menu .profile_settings {
  background: url(../../assets/icons/icons.png) -458px -82px;
}

.nvabar_item .dropdown-menu .project_management,
.nvabar_item li.profile_menu_item.active a:hover i.project_management{
  background: url(../../assets/icons/icons.png) -761px -79px;
}

.nvabar_item .dropdown-menu .exit {
  height: 18px;
  margin: 0 0 -5px 4px;
  background: url(../../assets/icons/icons.png) -498px -82px;
}

.nvabar_item .dropdown-menu .added_user {
  background: url(../../assets/icons/icons.png) -545px -80px;
}

.nvabar_item .dropdown-menu .write_task {
  width: 14px;
  background: url(../../assets/icons/icons.png) -525px -82px;
}

.nvabar_item li.profile_menu_item.active i.project_management{
  background: url(../../assets/icons/icons.png) -18px -131px;
}
