<header class="sign_Up_header clearfix">
    <ul class="navbar_nav_list clearfix">
        <li class="menu_toggler sidebar_toggler nvabar_item clearfix" ng-click="toggleSidebar()"><i ng-click="toggleSidebar()"></i><a ng-click="toggleSidebar($event)" href=""></a></li>
        <li class="nvabar_item profile_image clearfix"><a href="#">
            <img src="assets/img/profile.jpg" alt="profile_image" title="profile_image"/></a></li>
        <li class="nvabar_item notification clearfix"><a href="#"></a></li>
        <li class="nvabar_item massage clearfix"><a href="#"></a></li>
        <li class="nvabar_item project_name">
            <button class="rework_btn btn_info" href="#" ng-click="console.log(212)"><i></i>نام پروژه</button>
        </li>
        <li class="nvabar_item perfessional_settings">
            <button class="rework_btn btn_danger" href="#">حرفه ای کار کنید!</button>
        </li>
    </ul>
</header>