<div class="board_container clearfix" id="board">
    <div class="zoom_content" ng-style="{'transform': 'scale(' + vm.zoom + ', ' + vm.zoom + ')'}">
        <div class="board" id="target" ng-dblclick="vm.dbClick($event)">
            <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
                <div class="title_board_cell clearfix">
                    <h5 class="customer_segments_header text_bold header_board_cell">
                        PROBLEM
                    </h5>
                    <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                </div>
            </div>
            <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
                <div class="title_board_cell clearfix">
                    <h5 class="customer_segments_header text_bold header_board_cell">
                        PROBLEM
                    </h5>
                    <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                </div>
            </div>
            <div class="board_column user_column reworks-cols-1 border_l three_cells clearfix" id="center-block">
                <div class="board_cell col-md-12 no_padding border_b two_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
                <div class="board_cell col-md-12 no_padding border_b two_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
            </div>
            <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
                <div class="title_board_cell clearfix">
                    <h5 class="customer_segments_header text_bold header_board_cell">
                        PROBLEM
                    </h5>
                    <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                </div>
            </div>
            <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
                <div class="title_board_cell clearfix">
                    <h5 class="customer_segments_header text_bold header_board_cell">
                        PROBLEM
                    </h5>
                    <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                </div>
            </div>
            <div class="one_cell clearfix">
                <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
                <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
                <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
                <div class="board_cell col-md-3 no_padding four_cells clearfix">
                    <div class="title_board_cell clearfix">
                        <h5 class="customer_segments_header text_bold header_board_cell">
                            PROBLEM
                        </h5>
                        <p class="clear pull-left title_describtion text_blur">List your top 1-3 problems</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="card in vm.filterCards()" draggabilly class="cart {{card.cardType}}" id="{{card._id}}"
             style="position: absolute;"
             ng-style="{'left': card.position.left, 'top': card.position.top}" draggie-events="end">
            <!--<p style="direction: rtl; text-align: right" ng-bind-html="card.content"></p>-->
            <textarea style="cursor: default" ng-mouseover="card.hover=true" ng-mouseleave="card.hover=false">{{card.content}}</textarea>
            <ul class="cart_menu" ng-show="card.hover" ng-mouseover="card.hover=true" ng-mouseleave="card.hover=false">
                <li class="cart_menu_item">
                    <a class="color_cart" href="#" ng-click="card.subMenu.color = !card.subMenu.color"></a>
                    <ul class="dropdown-menu" role="menu" ng-mouseleave="card.subMenu.color = false"
                        ng-style="{'display': card.subMenu.color ? 'block' : 'none'}">
                        <li><a class="color_cart blue" href="#" ng-click="vm.changeColor(card, 'blue')"></a></li>
                        <li><a class="color_cart orange" href="#" ng-click="vm.changeColor(card, 'orange')"></a></li>
                        <li><a class="color_cart pink" href="#" ng-click="vm.changeColor(card, 'pink')"></a></li>
                        <li><a class="color_cart green" href="#" ng-click="vm.changeColor(card, 'green')"></a></li>
                    </ul>
                </li>
                <li class="cart_menu_item">
                    <a class="remove" href="" ng-click="vm.justRemoved=true;vm.removeCard(card)">
                        <i class="fa fa-trash-o fa-lg"></i>
                    </a>
                </li>
                <!--<li class="cart_menu_item">
                    <a class="size" href="">اندازه</a>
                </li>
                <li class="cart_menu_item">
                    <a class="shape" href="">شکل</a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
