<div class="board_container clearfix" id="board">
  <div class="zoom_content" ng-style="{'transform': 'scale(' + vm.zoom + ', ' + vm.zoom + ')'}">
    <div class="board" id="target" ng-dblclick="vm.dbClick($event)">
      <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
        <div class="title_board_cell clearfix">
          <h5 class="customer_segments_header text_bold header_board_cell">
            Assumptions
          </h5>
          <p class="clear pull-left title_describtion text_blur">Include the general assumptions the team is making
            about the project and solutions. If possible list the riskist assumption first.</p>
        </div>
      </div>
      <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
        <div class="title_board_cell clearfix">
          <h5 class="customer_segments_header text_bold header_board_cell">
            Activties & Deliverables
          </h5>
          <p class="clear pull-left title_describtion text_blur">List the types of tasks and actions the team will take
            to reach project goals. for each,indicate the outcomes and documents that will result from activity. This
            does not include working documents project plan and similar.</p>
        </div>
      </div>
      <div class="board_column user_column reworks-cols-1 border_l three_cells clearfix" id="center-block">
        <div class="board_cell col-md-12 no_padding border_b two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              Users
            </h5>
            <p class="clear pull-left title_describtion text_blur">List the users of the product or service as target
              groups or segments. Also indicate more specific information about users,such as persona names,if
              available</p>

          </div>
        </div>
        <div class="board_cell col-md-12 no_padding border_b two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              User Benefits
            </h5>
            <p class="clear pull-left title_describtion text_blur">Show the value proposition and benfit users will get
              after the project is sucessfully compeleted.</p>
          </div>
        </div>
      </div>
      <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
        <div class="title_board_cell clearfix">
          <h5 class="customer_segments_header text_bold header_board_cell">
            Goals
          </h5>
          <p class="clear pull-left title_describtion text_blur">Indicate the primary objectives of the project,
            including success metrics. Ditinguish between program goals and project goals in seperate lists,if
            necessary.</p>
        </div>
      </div>
      <div class="board_cell reworks-cols-1 border_l border_b three_cells clearfix">
        <div class="title_board_cell clearfix">
          <h5 class="customer_segments_header text_bold header_board_cell">
            Participants
          </h5>
          <p class="clear pull-left title_describtion text_blur">
            List the teammembers,stackholders and third parties involved in project, Indicate their
            names,titles and role on the project.You can also show depedencies.
          </p>
        </div>
      </div>
      <div class="one_cell clearfix">
        <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              Scope
            </h5>
            <p class="clear pull-left title_describtion text_blur">Indicate he breadth of the product or service
              cosideration for this project including what is out of scope.</p>
          </div>
        </div>
        <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              Constaints
            </h5>
            <p class="clear pull-left title_describtion text_blur">
              Identify the limits and conditionals requirements that directly affect the deliverables,actvities or
              project as a whole.
            </p>
          </div>
        </div>
        <div class="board_cell col-md-3 no_padding border_l four_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              Milestons
            </h5>
            <p class="clear pull-left title_describtion text_blur">List the key dates and events that frame the ovrall
              time line of the project.</p>
          </div>
        </div>
        <div class="board_cell col-md-3 no_padding four_cells clearfix">
          <div class="title_board_cell clearfix">
            <h5 class="customer_segments_header text_bold header_board_cell">
              Risks
            </h5>
            <p class="clear pull-left title_describtion text_blur">
              Identify possible future events without unknown outcomes that could have negative impact on the
              project,Also indicate miligation measures for each,if possible.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="card in vm.filterCards()" draggabilly class="cart {{card.cardType}}" id="{{card._id}}"
         style="position: absolute;" ng-click="vm.focusTextArea($event, card)"
         ng-style="{'left': card.position.left, 'top': card.position.top, 'width': 100 * card.scale + 'px', 'height': 100 * card.scale + 'px'}"
         draggie-events="end">
      <textarea style="cursor: default; overflow: hidden" ng-mouseover="card.hover=true"
                ng-mouseleave="card.hover=false" ng-model="card.content" ng-blur="vm.saveContent(card)"></textarea>
      <ul class="cart_menu" ng-show="card.hover" ng-mouseover="card.hover=true" ng-mouseleave="card.hover=false"
          ng-style="{'left': 100 * card.scale + 'px'}">
        <li class="cart_menu_item">
          <a class="color_cart" href="#" ng-click="card.subMenu.color = !card.subMenu.color"></a>
          <ul class="dropdown-menu" role="menu" ng-mouseleave="card.subMenu.color = false"
              ng-style="{'display': card.subMenu.color ? 'block' : 'none'}">
            <li>
              <a ng-class="{'bordered': card.cardType === 'blue'}" class="color_cart blue" href="#"
                 ng-click="vm.changeColor(card, 'blue')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.cardType === 'orange'}" class="color_cart orange" href="#"
                 ng-click="vm.changeColor(card, 'orange')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.cardType === 'pink'}" class="color_cart pink" href="#"
                 ng-click="vm.changeColor(card, 'pink')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.cardType === 'green'}" class="color_cart green" href="#"
                 ng-click="vm.changeColor(card, 'green')"></a>
            </li>
          </ul>
        </li>
        <li class="cart_menu_item">
          <a class="size" href="#" ng-click="card.subMenu.scale = !card.subMenu.scale">
            <i class="fa fa-arrows-alt fa-lg"></i>
          </a>
          <ul class="dropdown-menu" role="menu" ng-mouseleave="card.subMenu.scale = false"
              ng-style="{'display': card.subMenu.scale ? 'block' : 'none'}">
            <li>
              <a ng-class="{'bordered': card.scale == '1'}" class="size_cart real" href="#"
                 ng-click="vm.changeCardScale(card, '1')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.scale == '0.75'}" class="size_cart smaller" href="#"
                 ng-click="vm.changeCardScale(card, '0.75')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.scale == '0.5'}" class="size_cart half-small" href="#"
                 ng-click="vm.changeCardScale(card, '0.5')"></a>
            </li>
            <li>
              <a ng-class="{'bordered': card.scale == '0.25'}" class="size_cart xx-small" href="#"
                 ng-click="vm.changeCardScale(card, '0.25')"></a>
            </li>
          </ul>
        </li>
        <li class="cart_menu_item">
          <a class="remove" href="" ng-click="vm.removeCard(card)">
            <i class="fa fa-trash-o fa-lg"></i>
          </a>
        </li>
        <!--<li class="cart_menu_item">
                    <a class="shape" href="">شکل</a>
                </li>-->
      </ul>
    </div>
  </div>
</div>
