<!--<div class="tools clearfix">
<button class="rework_btn btn_info pull-left" ng-click="vm.zoomOut()">-</button>
<button class="rework_btn btn_info pull-left" ng-click="vm.zoomIn()">+</button>
<button class="rework_btn btn_info pull-left" ng-click="vm.newCard()">new</button>
</div>-->
<div class="board_container clearfix" id="board">
  <div class="zoom_content" ng-style="{'transform': 'scale(' + vm.zoom + ', ' + vm.zoom + ')'}">
    <!--ng-dblclick="vm.newCard('green')"-->
    <div class="board four_cells white_border" id="target">
      <div class="board_column col-md-6 no_padding border_l white_border four_cells clearfix">
        <div class="board_cell weakness_cell col-md-12 no_padding border_b white_border two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h4 class="weakness_header text_bold header_board_cell">
              Weakness
            </h4>
          </div>
        </div>
        <div class="board_cell threats_cell col-md-12 no_padding border_b white_border two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h4 class="threats_header text_bold header_board_cell">
              Threats
            </h4>
          </div>
        </div>
      </div>
      <div class="board_column col-md-6 no_padding border_l white_border four_cells clearfix">
        <div class="board_cell strengths_cell col-md-12 no_padding border_b white_border two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h4 class="strengths_header text_bold header_board_cell">
              Strengths
            </h4>
          </div>
        </div>

        <div class="board_cell opportunities_cell col-md-12 no_padding border_b white_border two_cells clearfix">
          <div class="title_board_cell clearfix">
            <h4 class="opportunities_header text_bold header_board_cell">
              Opportunities
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div ng-repeat="card in vm.filterCards()" draggabilly class="cart {{card.type}}" id="{{card._id}}"
         style="position: absolute;" ng-style="{'left': card.position.left, 'top': card.position.top}"
         draggie-events="end">
      <!--<p style="direction: rtl; text-align: right" ng-bind-html="card.content"></p>-->
      <textarea style="cursor: default" ng-mouseover="card.hover=true"
                ng-mouseleave="card.hover=false">{{card.content}}</textarea>
      <ul class="cart_menu" ng-show="card.hover" ng-mouseover="card.hover=true">
        <!--<li class="cart_menu_item">
        <a class="color_cart" href="#" ng-click=""></a>
        <ul class="dropdown-menu" role="menu">
        <li><a href="">5%</a></li>
        <li><a href="">25%</a></li>
        <li><a href="">50%</a></li>
        <li><a href="">100%</a></li>
        </ul>
        </li>
        <li class="cart_menu_item">
        <a class="size" href="">اندازه</a>
        </li>
        <li class="cart_menu_item">
        <a class="shape" href="">شکل</a>
        </li>-->
        <li class="cart_menu_item">
          <a class="remove" href="" ng-click="vm.justRemoved=true;vm.removeCard(card)">
            <i class="fa fa-trash-o fa-lg"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
