@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-social/bootstrap-social.css';
@import '~font-awesome/css/font-awesome.css';
@import '~angular-toastr/dist/angular-toastr.min.css';
@import '/assets/css/global.css';

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Component styles are injected through gulp */
/* inject:css */
@import 'account/login/login.css';
@import 'account/signup/signup.css';
@import 'admin/admin.css';
@import 'getStart/getStart.css';
@import 'project-boards/board-list/board-list.css';
@import 'project-boards/board-preview/board-preview.css';
@import '../components/header/top-header.css';
@import '../components/oauth-buttons/oauth-buttons.css';
@import '../components/sidebar/sidebar.css';
/* endinject */
