<div class="users_wrapper clearfix col-md-3" style="bottom: 0"
     ng-show="vm.chat.user" ng-init="vm.chat.user=false">
    <div class="panel panel-primary">
        <div class="panel-heading header_chat_wrapper clearfix">
            <h6>
                <i class="massage_icon"></i>کاربران تیم
                <i class="return_icon" ng-click="vm.chat.user = false;"></i>
            </h6>
        </div>
        <div class="panel-body content_chat_wrapper clearfix">
            <ul class="list_user_team">
                <li class="list_user_team_item clearfix" ng-repeat="user in vm.users">
                    <figure>
                        <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(user._id)}}"
                             alt="{{user.name}}" title="{{user.name}}">
                    </figure>
                    <p>{{user.name}}</p>
                </li>
                <!--<li class="list_user_team_item clearfix">
                    <figure>
                        <img src="assets/img/teamProfile.jpg" alt="profileImage" title="profileName">
                    </figure>
                    <p>profileName</p>
                </li>
                <li class="list_user_team_item clearfix">
                    <figure>
                        <img src="assets/img/teamProfile2.jpg" alt="profileImage" title="profileName">
                    </figure>
                    <p>profileName</p>
                </li>
                <li class="list_user_team_item clearfix">
                    <figure>
                        <img src="assets/img/teamProfile.jpg" alt="profileImage" title="profileName">
                    </figure>
                    <p>profileName</p>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<div class="chat_wrapper clearfix col-md-3" ng-style="{'bottom': vm.chat.isCollapsed ? '-325px' : '-25px'}"
     ng-hide="vm.chat.user" ng-init="vm.chat.isCollapsed = true">
    <div class="panel panel-primary clearfix">
        <div class="panel-heading header_chat_wrapper clearfix"
             ng-click="vm.chat.isCollapsed= vm.chat.isCollapsed == true ? false : true">
            <h6>
                <i class="massage_icon"></i>
                پنل چت
                <i class="group_icon" ng-hide="vm.chat.isCollapsed"
                   ng-click="vm.chat.user = vm.chat.user == true ? false : true;$event.stopPropagation();"></i>
            </h6>
        </div>
        <div class="panel-body content_chat_wrapper clearfix" id="messages">
            <!--<button class="rework_btn history_btn" ng-click="vm.getHistory()">پیام های قبلی</button>-->
            <ul class="chat clearfix">
                <li class="chat_item clearfix {{msg.user._id == vm.currUser._id ? 'chat_owner' : 'chat_audience'}}"
                    ng-repeat="msg in vm.messages">
                    <figure class="user_image clearfix">
                        <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(msg.user._id)}}"
                             alt="{{msg.user.name}}" title="{{msg.user.name}}">
                    </figure>
                    <div class="chat_body clearfix">
                        <div class="header">
                            <strong>{{msg.user.name}}</strong>
                        </div>
                        <p>{{msg.content}}</p>
                        <small class="date_massage">
                            <!--<small>22 خرداد،<span class="clock">10:20</span></small>-->
                          {{msg.created | jalaaliDate : 'jDD jMMMM HH:mm'}}
                        </small>
                    </div>
                </li>
            </ul>
        </div>
        <footer class="panel_footer">
            <textarea rows="2" ng-enter="vm.sendMessage(vm.message)" placeholder="اینجا تایپ کنید..."
                      ng-model="vm.message"></textarea>
        </footer>
    </div>
</div>

<!--
<div class="col-md-3" style="position: absolute; left: 0;"
     ng-style="{'bottom': vm.chat.isCollapsed ? '-320px' : '-15px'}" ng-init="vm.chat.isCollapsed = true">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span> گفتگو
            <div class="pull-left" style="cursor: pointer">
                <i class="fa fa-chevron-down" ng-show="!vm.chat.isCollapsed"
                   ng-click="vm.chat.isCollapsed = true"></i>
                <i class="fa fa-chevron-up" ng-show="vm.chat.isCollapsed"
                   ng-click="vm.chat.isCollapsed = false"></i>
            </div>
        </div>
        <div class="panel-body" id="messages">
            <ul class="chat">
                <li class="clearfix {{msg.user._id == vm.currUser._id ? 'right' : 'left'}}"
                    ng-repeat="msg in vm.messages">
                        <span class="chat-img pull-{{msg.user._id == vm.currUser._id ? 'right' : 'left'}}">
                            <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(msg.user._id)}}"
                                 style="width: 50px;height: 50px" alt="{{msg.user.name}}" class="img-circle">
                        </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{msg.user.name}}</strong>
                            &lt;!&ndash;<small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>12 mins ago
                            </small>&ndash;&gt;
                        </div>
                        <p>{{msg.content}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer">
            <div class="input-group" style="direction: ltr">
                <input id="btn-input" type="text" class="form-control input-sm"
                       ng-enter="vm.sendMessage(vm.message)" placeholder="اینجا تایپ کنید..." ng-model="vm.message">
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" ng-disabled="!vm.message"
                                ng-click="vm.sendMessage(vm.message)">ارسال</button>
                    </span>
            </div>
        </div>
    </div>
</div>-->
