<section class="team_management_section clearfix">
    <div class="col-md-10 clearfix">
        <div class="form_one_line clearfix">
            <label for='companyName'> نام شرکت/ استارتاپ:</label>
            <input type='text' name="teamManagement" id="companyName" placeholder="نام انتخابی"
                   ng-model="vm.project.name" disabled/>
        </div>
        <div class="form_one_line clearfix">
            <label for='url'>آدرس وبسایت:</label>
            <input type="text" name="teamManagement" id="url" placeholder='sample.ir'/>
        </div>
        <div class="form_one_line clearfix">
            <label for='subDomain'> آدرس دامنه اختصاصی:</label>
            <input type="text" name="teamManagement" id="subDomain" placeholder='rework.ir/jarobarqi'/>
        </div>
        <div class="form_one_line clearfix">
            <label>اطلاعات کلید خریداری شده</label>
            <a class="rework_btn rework_link_danger expired_icon clearfix">منقضی شده<i></i></a>
            <a class="rework_btn rework_link_info key_icon clearfix">سفارش پلن یا کلید<i></i></a>
        </div>
        <div>
            <label class="label_team_management">اطلاعات کاربران</label>
            <table class="table table-striped rework-table">
                <thead>
                <tr>
                    <th>نام</th>
                    <th class="text_center">ایمیل</th>
                    <th>نقش کاربری</th>
                    <th>حذف</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in vm.project.users">
                    <td class="cell_img_container clearfix">
                        <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(user._id)}}"
                             alt="{{user.name}}"
                             title="{{user.name}}">
                        <p>{{user.name}}</p>
                    </td>
                    <td class="text_center">{{vm.projectCom.email}}</td>
                    <td>
                        <select ng-model="user.role" ng-options="role.value as role.name for role in vm.roles"
                                ng-change="vm.changeRole(user)"></select>
                    </td>
                    <td>
                        <button class="delete_btn" ng-click="vm.removeUser(user)"><i></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <label class="label_team_management">افزودن همکار جدید</label>
            <ul class="list_striiped">
                <li class="clearfix">
                    <p>
                        <input type="email" class="form-control" ng-model="vm.newUser" placeholder="email"
                               uib-typeahead="user as user.email for user in vm.projectCom.findUsers($viewValue)"
                               typeahead-wait-ms="2000"
                               typeahead-loading="vm.loadingLocations" typeahead-no-results="vm.noResults"
                               style="margin-top: 5px; text-align: left; width:300px; direction: ltr">
                        <i ng-show="vm.loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    </p>
                    <div ng-show="vm.noResults">
                        <i class="glyphicon glyphicon-remove"></i> نتیجه ای پیدا نشد
                    </div>
                    <button class="add_btn pull-left" ng-click="vm.addNewUser(vm.newUser)"
                            ng-disabled="!vm.newUser"><i></i></button>
                </li>
            </ul>
        </div>
        <!--<div>
            <label class="label_team_management">اطلاعات کلید ها</label>
            <table class="table table-striped rework-table col-md-4">
                <thead>
                <tr>
                    <th>کلید</th>
                    <th class="text_center">وضعیت</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="key in vm.project.keys">
                    <td class="cell_img_container clearfix">
                        <p ng-if="key.active">{{key.value}}</p>
                        <s ng-if="!key.active">{{key.value}}</s>
                    </td>
                    <td class="text_center">{{key.active ? 'قابل استفاده' : 'استفاده شده'}}</td>
                </tr>
                </tbody>
            </table>
        </div>-->
    </div>
    <aside class='aside_team_management_wrapper' ng-class="{'blur': vm.project.owner.type === 'free'}">
        <div class="last_tasks_team_management clearfix">
            <h3 class="header_aside_team_management text-center">آخرین فعالیت ها</h3>
            <ul class="work_list">
                <li class="work_list_item clearfix">
                    <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(vm.project.users[0]._id)}}"
                         alt="profileImage" title="bradlyCopper">
                    <p>{{vm.project.users[0].name}}</p>
                    <p>شروع کارت 3</p>
                </li>
                <li class="work_list_item clearfix">
                    <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(vm.project.users[1]._id)}}"
                         alt="profileImage" title="bradlyCopper">
                    <p>{{vm.project.users[1].name}}</p>
                    <p>شروع کارت 2</p>
                </li>
                <li class="work_list_item clearfix">
                    <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(vm.project.users[0]._id)}}"
                         alt="profileImage" title="bradlyCopper">
                    <p>{{vm.project.users[0].name}}</p>
                    <p>شروع کارت 1</p>
                </li>
            </ul>
            <div class="work_link_more_wrapper clearfix">
                <a class="work_link_more">بیشتر ببینید ...</a>
            </div>
        </div>
    </aside>
    <aside class='aside_team_management_wrapper' style="height: 0" ng-if="vm.project.owner.type === 'free'">
        <div class="last_tasks_team_management clearfix">
            <h3 class="header_aside_team_management text-center">آخرین فعالیت ها</h3>
        </div>
    </aside>
</section>
