<div class="content_wrapper">
  <div ng-include="'/boards/' + vm.boardName + '.html'"></div>

  <div class="new_cart_wrapper clearfix">
    <div class="cart blue" contentEditable ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-enter="vm.newCard('blue')">
      <textarea rows="6" ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-model="vm.newContent.blue"></textarea>
    </div>
    <div class="cart pink" contentEditable ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-enter="vm.newCard('pink')">
      <textarea rows="6" ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-model="vm.newContent.pink"></textarea>
    </div>
    <div class="cart orange" contentEditable ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-enter="vm.newCard('orange')">
      <textarea rows="6" ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-model="vm.newContent.orange"></textarea>
    </div>
    <div class="cart green" contentEditable ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-enter="vm.newCard('green')">
      <textarea rows="6" ng-focus="vm.focus($event)" ng-blur="vm.blur()" ng-model="vm.newContent.green"></textarea>
    </div>
  </div>
  <!-- <div class="col-md-3" style="position: absolute; left: 0;"
         ng-style="{'bottom': vm.chat.isCollapsed ? '-320px' : '-15px'}" ng-init="vm.chat.isCollapsed = true">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> گفتگو
                <div class="pull-left" style="cursor: pointer">
                    <i class="fa fa-chevron-down" ng-show="!vm.chat.isCollapsed"
                       ng-click="vm.chat.isCollapsed = true"></i>
                    <i class="fa fa-chevron-up" ng-show="vm.chat.isCollapsed"
                       ng-click="vm.chat.isCollapsed = false"></i>
                </div>
            </div>
            <div class="panel-body">
                <ul class="chat">
                    <li class="clearfix" ng-repeat="msg in vm.msgArr" ng-class="msg.class">
                        <span class="chat-img pull-{{msg.class}}">
                            <img ng-src="data:image/jpeg;base64,{{vm.projectCom.getUserAvatar(msg.user._id)}}"
                                 style="width: 50px;height: 50px" alt="{{msg.user.name}}" class="img-circle">
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">{{msg.user.name}}</strong>
                                <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago
                                </small>
                            </div>
                            <p>{{msg.msg}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group" style="direction: ltr">
                    <input id="btn-input" type="text" class="form-control input-sm"
                           ng-enter="vm.sendMessage(vm.message)"
                           placeholder="اینجا تایپ کنید..." ng-model="vm.message">
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat" ng-disabled="!vm.message"
                                ng-click="vm.sendMessage(vm.message)">ارسال</button>
                    </span>
                </div>
            </div>
        </div>
    </div>-->
 <!-- <div class="users_wrapper clearfix" class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading header_chat_wrapper clearfix">
        <h6>
          <i class="massage_icon"></i>کاربران تیم
          <i class="return_icon"></i>
        </h6>
      </div>
      <div class="panel-body content_chat_wrapper clearfix">
        <ul class="list_user_team">
          <li class="list_user_team_item clearfix">
            <figure>
              <img src="assets/img/profile.jpg" alt="profileImage" title="profileName">
            </figure>
            <p>profileName</p>
          </li>
          <li class="list_user_team_item clearfix">
            <figure>
              <img src="assets/img/teamProfile.jpg" alt="profileImage" title="profileName">
            </figure>
            <p>profileName</p>
          </li>
          <li class="list_user_team_item clearfix">
            <figure>
              <img src="assets/img/teamProfile2.jpg" alt="profileImage" title="profileName">
            </figure>
            <p>profileName</p>
          </li>
          <li class="list_user_team_item clearfix">
            <figure>
              <img src="assets/img/teamProfile.jpg" alt="profileImage" title="profileName">
            </figure>
            <p>profileName</p>
          </li>
        </ul>
      </div>
    </div>
  </div>-->
  <div class="chat_wrapper clearfix col-md-4" ng-style="{'bottom': vm.chat.isCollapsed ? '-325px' : '-25px'}" ng-init="vm.chat.isCollapsed = false">
    <div class="panel panel-primary">
      <div class="panel-heading header_chat_wrapper clearfix" ng-click="vm.chat.isCollapsed= vm.chat.isCollapsed == true ? false : true">
        <h6>
            <i class="massage_icon"></i>پنل چت
            <i class="group_icon"></i>
        </h6>
      </div>
      <div class="panel-body content_chat_wrapper clearfix">
        <button class="rework_btn histoey_btn">تاریخچه پیام ها</button>
        <ul class="chat">
          <li class="chat_item chat_owner clearfix">
            <figure class="user_image clearfix">
              <img src="assets/img/profile.jpg" alt="profileImage" title="profileName">
            </figure>
            <div class="chat_body clearfix">
              <div class="header">
                <strong>User Name</strong>
              </div>
              <p>User's massage</p>
              <div class="date_massage">
                <p>22 خرداد،<span class="clock">10:20</span></p>
              </div>
            </div>
          </li>
          <li class="chat_item chat_audience clearfix">
            <figure class="user_image clearfix">
              <img src="assets/img/teamProfile2.jpg" alt="profileImage" title="profileName">
            </figure>
            <div class="chat_body clearfix">
              <div class="header">
                <strong>User Name</strong>
              </div>
              <p>User's massage</p>
              <div class="date_massage">
                <p>22 خرداد،<span class="clock">10:20</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <footer class="panel_footer">
        <textarea rows="4"></textarea>
      </footer>
    </div>
  </div>
</div>
