div.board_container {
  height: 80vh;
  width: 100%;
  overflow: auto;
}

div.board {
  width: 70%;
  float: right;
  overflow: visible;
}

div.cart {
  float: left;
}

div.board {
  width: 84%;
  height: 500px;
  border: 4px solid #000;
  position: relative;
}

#child1 {
  width: 200px;
  height: 200px;
  background-color: greenyellow;
}

.board_cell {
  float: right;
}

.board_column {
  float: right;
  display: inline-block;
}
h5.header_board_cell {
  float: left;
  width: 45%;
  text-align: left;
  margin: 14px 0 0 4px;
}

.board_cell_img {
  width: 56px;
  height: 56px;
  display: inline-block;
}

.customer_segments_img {
  background: url(../../../assets/icons/icons.png) 0px -62px;
}

.customer_relationship_img {
  width: 40px;
  background: url(../../../assets/icons/icons.png) -60px -62px;
}

.channels_img {
  width: 45px;
  background: url(../../../assets/icons/icons.png) -242px -62px;
}
.value_positions_img {
  background: url(../../../assets/icons/icons.png) -90px -62px;
}

.key_activities_img {
  background: url(../../../assets/icons/icons.png) -150px -62px;
  width: 40px;
}

.key_partners_img {
  background: url(../../../assets/icons/icons.png) -184px -62px;
}

.cost_structure_img {
  background: url(../../../assets/icons/icons.png) -330px -62px;
}

.revenue_streams_img {
  background: url(../../../assets/icons/icons.png) -400px -65px;
}
