section.desktop_work_section div.page_sidebar_wrapper {
    position: fixed;
    bottom: 0;
    top: 0;
    background-color: #293b5a;
    right: 0;
    width: 200px;
}

div.page_sidebar_wrapper a.desktop_work_logo {
    position: relative;
    display: block;
    margin: 34px 10px 34px 0;
}

ul.list_menu_desktop li.list_menu_desktop_item a {
    display: inline-block;
    color: #7b96c4;
    font-weight: lighter;
    font-size: 15px;
    width: 100%;
    padding: 8px 30px 8px 0;
}

ul.list_menu_desktop li.list_menu_desktop_item a i {
    width: 22px;
    height: 22px;
    display: inline-block;
    float: right;
    background: url('../../assets/icons/icons.png');
    margin: 2px 0 0 5px;
}

ul.list_menu_desktop li.list_menu_desktop_item:hover a {
    color: #fff;
}

ul.list_menu_desktop li.list_menu_desktop_item.active a {
    color: #55e4d4;
    background-color: #354664;
}

ul.list_menu_desktop li.list_menu_desktop_item.desktop_item a i {
    background-position: -401px -12px;
}

ul.list_menu_desktop li.list_menu_desktop_item.desktop_item.active a i {
    background-position: -427px -12px;
}

ul.list_menu_desktop li.list_menu_desktop_item.desktop_item:hover a i {
    background-position: -453px -12px;
}

ul.list_menu_desktop li.list_menu_desktop_item.tools_item a i {
    background-position: -477px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.tools_item.active a i {
    background-position: -505px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.tools_item:hover a i {
    background-position: -533px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.managment_team_item a i {
    background-position: -561px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.managment_team_item.active a i {
    background-position: -587px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.managment_team_item:hover a i {
    background-position: -613px -11px;
}

ul.list_menu_desktop li.list_menu_desktop_item.settings_profile_item a i {
    background-position: -642px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.settings_profile_item.active a i {
    background-position: -669px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.settings_profile_item:hover a i {
    background-position: -696px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.cart_filter_item a i {
    background-position: -724px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.cart_filter_item.active a i {
    background-position: -751px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.cart_filter_item:hover a i {
    background-position: -776px -14px;
}

ul.list_menu_desktop li.list_menu_desktop_item.duties_item a i {
    background-position: -10px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.active.duties_item a i {
    background-position: -38px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.duties_item:hover a i {
    background-position: -66px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.download_art_item a i {
    background-position: -95px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.download_art_item.active a i {
    background-position: -122px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.download_art_item:hover a i {
    background-position: -149px -34px;
}

ul.list_menu_desktop li.list_menu_desktop_item.resize_art_item a i {
    background-position: -175px -36px;
}

ul.list_menu_desktop li.list_menu_desktop_item.resize_art_item.active a i {
    background-position: -200px -36px;
}

ul.list_menu_desktop li.list_menu_desktop_item.resize_art_item:hover a i {
    background-position: -225px -36px;
}

ul.list_menu_desktop li.list_menu_desktop_item.remove_art_item a i {
    background-position: -250px -37px;
}

ul.list_menu_desktop li.list_menu_desktop_item.remove_art_item.active a i {
    background-position: -272px -37px;
}

ul.list_menu_desktop li.list_menu_desktop_item.remove_art_item:hover a i {
    background-position: -294px -37px;
}

ul.list_menu_desktop li.list_menu_desktop_item.exit_item a i {
    background-position: -318px -38px;
}

ul.list_menu_desktop li.list_menu_desktop_item.exit_item.active a i {
    background-position: -341px -38px;
}

ul.list_menu_desktop li.list_menu_desktop_item.exit_item:hover a i {
    background-position: -364px -38px;
}
