<a class="desktop_work_logo" href=""><img src="/assets/icons/logodesktop.png"></a>
<ul class="list_menu_desktop">
    <li class="list_menu_desktop_item desktop_item clearfix">
        <a ui-sref="project.boards.privateList({id: $ctrl.project._id})" ui-sref-active="active">
            <i></i>میزکار
        </a>
    </li>
    <li class="list_menu_desktop_item tools_item clearfix">
        <a ui-sref="project.boards.list({id: $ctrl.project._id})" ui-sref-active="active"><i></i>ابزارها</a>
    </li>
    <li class="list_menu_desktop_item managment_team_item clearfix">
        <a href="" ng-click="$ctrl.goToManageTeam()" ui-sref-active="active"><i></i>مدیریت تیم</a>
    </li>
    <li class="list_menu_desktop_item settings_profile_item clearfix">
        <a ui-sref="project.profile({id: $ctrl.project._id})" ui-sref-active="active"><i></i>تنظیمات پروفایل</a>
    </li>
    <li class="list_menu_desktop_item cart_filter_item clearfix"
        ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" ui-sref-active="active"><i></i>فیلتر کارت ها</a>
        <ul class="sub_menu_desktop">
            <li class="sub_menu_desktop_item clearfix">
                <label for="green">آبی</label>
                <input type="checkbox" name="filter" id="green" value="blue" ng-model="$ctrl.CardFilters.blue"
                       ng-change="$ctrl.broadcastEvent('CHANGE_FILTER', $ctrl.CardFilters)">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="golden">صورتی</label>
                <input type="checkbox" name="filter" id="golden" value="pink" ng-model="$ctrl.CardFilters.pink"
                       ng-change="$ctrl.broadcastEvent('CHANGE_FILTER', $ctrl.CardFilters)">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="red">نارنجی</label>
                <input name="filter" type="checkbox" id="red" value="orange" ng-model="$ctrl.CardFilters.orange"
                       ng-change="$ctrl.broadcastEvent('CHANGE_FILTER', $ctrl.CardFilters)">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="blue">سبز</label>
                <input name="filter" type="checkbox" id="blue" value="green" ng-model="$ctrl.CardFilters.green"
                       ng-change="$ctrl.broadcastEvent('CHANGE_FILTER', $ctrl.CardFilters)">
                <i class="check_icon"></i>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item duties_item clearfix"
        ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" ui-sref-active="active"><i></i>وظایف</a>
        <ul class="sub_menu_desktop">
            <li class="sub_menu_desktop_item clearfix" ng-show="$ctrl.isOwner">
                <a href="" ng-click="$ctrl.broadcastEvent('NEW_TASK')">ایجاد وظیفه</a>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <!--<a ui-sref="project.tasks({id: $ctrl.project._id, board: $ctrl.boardName})">نمایش وظایف</a>-->
                <a ng-click="$ctrl.showTasks()">نمایش وظایف</a>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item download_art_item clearfix"
        ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" class="active"><i></i>دانلود بوم</a>
        <ul class="sub_menu_desktop download_art_item" style="display: block">
            <li class="sub_menu_desktop_item clearfix">
                <a class="link_pdf" href="" ng-click="$ctrl.broadcastEvent('SAVE_BOARD', 'pdf')">PDF</a>
                <a class="link_jpg" href="" ng-click="$ctrl.broadcastEvent('SAVE_BOARD', 'jpg')">PNG</a>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item resize_art_item clearfix"
        ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" class="active"><i></i>تغییر اندازه بوم</a>
        <ul class="sub_menu_desktop resize_art_item" style="display: block">
            <li class="sub_menu_desktop_item clearfix">
                <button ng-click="$ctrl.broadcastEvent('ZOOM_CHANGED', 'ZOOM_IN')" class="zoom_in"><i class="icon_zoom_in"></i></button>
                <button ng-click="$ctrl.broadcastEvent('ZOOM_CHANGED', 'ZOOM_RES')" class="move"><i class="icon_move"></i></button>
                <button ng-click="$ctrl.broadcastEvent('ZOOM_CHANGED', 'ZOOM_OUT')" class="zoom_out"><i class="icon_zoom_out"></i></button>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item remove_art_item clearfix"
        ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a ng-click="$ctrl.broadcastEvent('REMOVE_BOARD')"><i></i>حذف بوم</a></li>
    <li class="list_menu_desktop_item exit_item clearfix">
        <a ui-sref="logout"><i></i>خروج</a>
    </li>
</ul>
