<a class="desktop_work_logo" href=""><img src="/assets/icons/logodesktop.png"></a>
<ul class="list_menu_desktop">
    <li class="list_menu_desktop_item desktop_item clearfix" ui-sref-active="active">
        <a href="" ng-click="$ctrl.goToDesktop()">
            <i></i>میزکار
        </a>
    </li>
    <li class="list_menu_desktop_item tools_item clearfix" ui-sref-active="active">
        <a ui-sref="project.boards.list({id: $ctrl.project._id})"><i></i>ابزارها</a>
    </li>
    <li class="list_menu_desktop_item managment_team_item clearfix" ui-sref-active="active">
        <a ui-sref="project.manage({id: $ctrl.project._id})"><i></i>مدیریت تیم</a>
    </li>
    <li class="list_menu_desktop_item settings_profile_item clearfix" ui-sref-active="active">
        <a ui-sref="project.profile({id: $ctrl.project._id})"><i></i>تنظیمات پروفایل</a>
    </li>
    <li class="list_menu_desktop_item cart_filter_item clearfix" ui-sref-active="active" ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)"><i></i>فیلتر کارت ها</a>
        <ul class="sub_menu_desktop">
            <li class="sub_menu_desktop_item clearfix">
                <label for="green">سبز</label>
                <input type="radio" name="filter" id="green" value="green">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="golden">طلایی</label>
                <input name="filter" type="radio" id="golden" value="golden">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="red">قرمز</label>
                <input name="filter" type="radio" id="red" value="red">
                <i class="check_icon"></i>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <label for="blue">آبی</label>
                <input name="filter" type="radio" id="blue" value="blue">
                <i class="check_icon"></i>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item duties_item clearfix" ui-sref-active="active" ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)"><i></i>وظایف</a>
        <ul class="sub_menu_desktop">
            <li class="sub_menu_desktop_item clearfix" ng-show="$ctrl.isOwner">
                <a href="" ng-click="$ctrl.newTask()">ایجاد وظیفه</a>
            </li>
            <li class="sub_menu_desktop_item clearfix">
                <a ui-sref="project.tasks({id: $ctrl.project._id})">نمایش وظایف</a>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item download_art_item clearfix" ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" class="active"><i></i>دانلود بوم</a>
        <ul class="sub_menu_desktop download_art_item" style="display: block">
            <li class="sub_menu_desktop_item clearfix">
                <a class="link_pdf" href="" ng-click="$ctrl.saveBoard('pdf')">PDF</a>
                <a class="link_jpg" href="" ng-click="$ctrl.saveBoard('jpg')">JPG</a>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item resize_art_item clearfix" ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href="" ng-click="$ctrl.accordion($event)" class="active"><i></i>تغییر اندازه بوم</a>
        <ul class="sub_menu_desktop resize_art_item" style="display: block">
            <li class="sub_menu_desktop_item clearfix">
                <button ng-click="$ctrl.chaneZoom('ZOOM_IN')" class="zoom_in"><i class="icon_zoom_in"></i></button>
                <button ng-click="$ctrl.chaneZoom('ZOOM_RES')" class="move"><i class="icon_move"></i></button>
                <button ng-click="$ctrl.chaneZoom('ZOOM_OUT')" class="zoom_out"><i class="icon_zoom_out"></i></button>
            </li>
        </ul>
    </li>
    <li class="list_menu_desktop_item remove_art_item clearfix" ng-show="$ctrl.$state.current.name === 'project.desktop'">
        <a href=""><i></i>حذف بوم</a></li>
    <li class="list_menu_desktop_item exit_item clearfix">
        <a ui-sref="logout"><i></i>خروج</a>
    </li>
</ul>
