<a class="desktop_work_logo" href=""><img src="/assets/icons/logodesktop.png"></a>
<ul class="list_menu_desktop">
    <li class="list_menu_desktop_item desktop_item clearfix" ui-sref-active="active">
        <a href="" ng-click="$ctrl.goToDesktop()">
            <i></i>میزکار</a>
    </li>
    <li class="list_menu_desktop_item tools_item clearfix" ui-sref-active="active">
        <a ui-sref="project.boards.list({id: $ctrl.project._id})"><i></i>ابزارها</a>
    </li>
    <li class="list_menu_desktop_item managment_team_item clearfix" ui-sref-active="active">
        <a ui-sref="project.manage({id: $ctrl.project._id})"><i></i>مدیریت تیم</a>
    </li>
    <li class="list_menu_desktop_item settings_profile_item clearfix" ui-sref-active="active">
        <a ui-sref="project.profile({id: $ctrl.project._id})"><i></i>تنظیمات پروفایل</a>
    </li>
    <li class="list_menu_desktop_item cart_filter_item clearfix" ui-sref-active="active">
        <a href=""><i></i>فیلتر کارت ها</a>
    </li>
    <li class="list_menu_desktop_item duties_item clearfix" ui-sref-active="active">
        <a href=""><i></i>وظایف</a>
        <a href="" ng-click="$ctrl.newTask()" ng-show="$ctrl.isOwner">ایجاد وظایف</a>
    </li>
    <li class="list_menu_desktop_item download_art_item clearfix"><a href=""><i></i>دانلود بوم</a></li>
    <li class="list_menu_desktop_item resize_art_item clearfix"><a href=""><i></i>تغییر اندازه بوم</a></li>
    <li class="list_menu_desktop_item remove_art_item clearfix"><a href=""><i></i>حذف بوم</a></li>
    <li class="list_menu_desktop_item exit_item clearfix">
        <a ui-sref="logout"><i></i>خروج</a>
    </li>
</ul>
